@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 400;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Regular.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 900;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Black.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 700;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Bold.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 600;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Semibold.otf.woff2') format('woff2');
}
@font-face {
	font-family: "Source Sans Pro";
	font-style: normal;
    font-weight: 300;
    font-display: swap;
	src: url('../fonts/SourceSansPro-Light.otf.woff2') format('woff2');
}
:root {
	--saddle-brown: #6b501c;
	--midnight-blue: #1f2c67;
	--tan: #d1bdab;
	--dim-gray: #8E8E89;
	--steel-blue: #7384be;
	--button-color: #65754D; /*green*/
}

/* defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 25px;
	line-height: 1.3;
	background-color: var(--tan);
	color: #663D1C;
}
h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1em;
}
ul {
	list-style-type: none;
}
svg {
	position: relative;
	top: 0.15em;
	height: 1em;
	margin-right: 0.15em;
	fill: currentColor;
}
button {
	font-size: 0.9em;
	padding: 0.25em 0.75em;
	background-color: var(--button-color);
	color: white;
	border: 0;
	border-radius: 0.25em;
	font-weight: 600;
	cursor: pointer;
}
button:disabled {
	background-color: var(--dim-gray);
	color: #E3E3E3;
}
header {
	padding: 0.5em 1em;
	background-color: var(--steel-blue);
	color: whitesmoke;
	position: fixed;
	width: 100%;
}
main {
	padding: 3.5em 1em 1em 1em;
}
section {
	margin-bottom: 1em;
}

[v-cloak] { display: none; }

/* document */

.dice-section li {
	margin-bottom: 1em;
}
.die-label {
	margin-left: 0.5em;
	font-weight: 600;
}

.big-button {
	margin-top: 0.5em;
	padding: 0.5em 2em;
}

.die-rolls {
	margin-bottom: 1em;
}
.die-rolls li {
	display: inline;
}
.die-rolls li:after {
	content: ", ";
}
.die-rolls li:last-child:after {
    content: "";
}

/* media queries */
@media(min-width: 500px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em;
		padding: 5.5em 2em 2em 2em;
	}
	header {
		padding: 1em 2em;
	}
}
@media(min-width: 700px) {
	body {
		font-size: 28px;
	}
}
@media(min-width: 1000px) {
	.dice, .dice-rolls {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.dice-rolls {
		grid-gap: 1em;
	}
}
@media(min-width: 1280px) {
	.dice-rolls {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media(min-width: 1440px) {
    .dice {
        grid-template-columns: 1fr 1fr 1fr;
    }
}