<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Roll d20 Dice for Role-Playing Games Like Dungeons & Dragons</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="canonical" href="https://d20diceroller.com">
    <meta name="Description" content="Roll dice for tabletop role-playing games (RPGs) like Dungeons and Dragons by Wizards of the Coast. Roll d20, d12, d10, d8, d6, and d4 polyhedral dice.">
    <meta property="og:url"                content="https://d20diceroller.com" />
    <meta property="og:title"              content="Roll d20 Dice for Role-Playing Games Like Dungeons & Dragons" />
    <meta property="og:description"        content="Roll dice for tabletop role-playing games (RPGs) like Dungeons and Dragons by Wizards of the Coast. Roll d20, d12, d10, d8, d6, and d4 polyhedral dice now." />
    <!-- 
        social.jpeg is a derivative of Twenty by Nikita Sazonenko, released under CC-BY-SA
        license details at https://creativecommons.org/licenses/by-sa/3.0/deed.en 
     -->
    <meta property="og:image"              content="https://d20diceroller.com/images/social.jpeg" />
</head>
<body>
    <div id="container">
        <header>
            <h1>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512">
                    <path d="M106.75 215.06L1.2 370.95c-3.08 5 .1 11.5 5.93 12.14l208.26 22.07-108.64-190.1zM7.41 315.43L82.7 193.08 6.06 147.1c-2.67-1.6-6.06.32-6.06 3.43v162.81c0 4.03 5.29 5.53 7.41 2.09zM18.25 423.6l194.4 87.66c5.3 2.45 11.35-1.43 11.35-7.26v-65.67l-203.55-22.3c-4.45-.5-6.23 5.59-2.2 7.57zm81.22-257.78L179.4 22.88c4.34-7.06-3.59-15.25-10.78-11.14L17.81 110.35c-2.47 1.62-2.39 5.26.13 6.78l81.53 48.69zM240 176h109.21L253.63 7.62C250.5 2.54 245.25 0 240 0s-10.5 2.54-13.63 7.62L130.79 176H240zm233.94-28.9l-76.64 45.99 75.29 122.35c2.11 3.44 7.41 1.94 7.41-2.1V150.53c0-3.11-3.39-5.03-6.06-3.43zm-93.41 18.72l81.53-48.7c2.53-1.52 2.6-5.16.13-6.78l-150.81-98.6c-7.19-4.11-15.12 4.08-10.78 11.14l79.93 142.94zm79.02 250.21L256 438.32v65.67c0 5.84 6.05 9.71 11.35 7.26l194.4-87.66c4.03-1.97 2.25-8.06-2.2-7.56zm-86.3-200.97l-108.63 190.1 208.26-22.07c5.83-.65 9.01-7.14 5.93-12.14L373.25 215.06zM240 208H139.57L240 383.75 340.43 208H240z"/>
                </svg> 
                Dice Roller
            </h1>
        </header>
        <main>
            <section class="dice-section" v-cloak>
                <h2>Dice</h2>
                <ul class="dice">
                    <li v-for="die in dice">
                        <button @click="die.quantity += 1">
                            +
                        </button>
                        <button @click="die.quantity <= 0 ? die.quantity = 0 : die.quantity -= 1" :disabled="die.quantity <= 0">
                            -
                        </button>
                        <label class="die-label">
                            <span class="die-quantity" v-if="die.quantity > 0">{{die.quantity}}</span><span>{{ die.name }}</span>
                        </label>
                    </li>
                </ul>
                <button v-on:click="roll" class="big-button">
                    Roll
                </button>
            </section>
            <section v-if="hasRolled" v-cloak>
                <h2>Rolls</h2>
                <div class="dice-rolls">
                    <template v-for="(dicerolls, name) in rolls">
                        <div v-if="dicerolls.length">
                            <h3 v-if="dicerolls.length">{{name}}</h3>
                            <ul class="die-rolls">
                                <li v-for="diceroll in dicerolls">{{diceroll}}</li>
                            </ul>
                        </div>
                    </template>
                </div>
            </section>
        </main>
    </div>
    <script src="js/vue.min.js"></script>
    <script>
        // @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPL-v3-or-Later
        const app = new Vue ({
            el: "#container",
            data: {
                dice: [
                    {
                        name: "d20",
                        sides: 20,
                        quantity: 1
                    },
                    {
                        name: "d12",
                        sides: 12,
                        quantity: 0
                    },
                    {
                        name: "d10",
                        sides: 10,
                        quantity: 0
                    },
                    {
                        name: "d100",
                        sides: 100,
                        quantity: 0
                    },
                    {
                        name: "d8",
                        sides: 8,
                        quantity: 0
                    },
                    {
                        name: "d6",
                        sides: 6,
                        quantity: 0
                    },
                    {
                        name: "d4",
                        sides: 4,
                        quantity: 0
                    }
                ],
                hasRolled: false,
                rolls: {}
            },
            methods: {
                roll: function () {
                    this.hasRolled = true;
                    let rolls = {};
                    for (const die of this.dice) {
                        rolls[die.name] = [];
                        for (let i = 0; i < die.quantity; i++) {
                            rolls[die.name].push(Math.floor(Math.random() * die.sides + 1));
                        }
                    }
                    this.rolls = rolls;
                }
            }
        })
        // @license-end
    </script>
</body>
</html>